
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@700&display=swap');
*{
    font-family: 'Poppins';
}
    .login-form{
        width: 50%;
        max-width: 500px;
        padding:15px;
        margin: auto;
        box-shadow: 2px 1px 15px rgba(124,119,119,0.5);
        margin-top: 3rem;
        margin-bottom: 3rem;
        height:80%;
        max-height: 60%;
        font-family: 'Roboto';
        align-content: initial;
        border-radius: 0.5rem;
        zoom: 80%;
        

    }
    h4{
        color:rgb(38, 36, 36);
        margin:15px;
        margin-left:25px;
    }
    .input-text{
        margin:13px;
        max-width:90%;
        margin-left:25px;
        font-size: 12px;
    }
    .badge-danger{
        background-color:rgb(248, 92, 92);
        }
    span.badge{
        color:floralwhite;
        margin-left:13px;
        border-radius:0.5rem;
        font-weight: 400;
        line-height: 1;
        margin-top:5px;
    }
    .badge{
        font-size: none;
    }
   
    .btn-login.btn-primary{
        margin: 6px;
       
        width: 420px;
        background-color: rgb(29, 32, 34);
        border-color: rgb(27, 28, 29);
        color: white;
        outline: none;
        border: none;
        margin-left: 5%;
    }
    .password-icon{
        cursor:pointer;
        margin-left: 400px;
        margin-top:-95px;
        color: grey;
        width: 25px;
        height: 25px;
    }
    
    .label1{
        /* padding: 10px 25px; */
        font-weight:800;
        font-size: 14px;
        font-family:'Roboto';
        margin-left: 6%;
        margin-top: 4%;
        color:rgb(25, 26, 28);
    }
    .label2{
        /* padding: 10px 25px; */
        font-weight: 800;
        font-size: 14px;
        font-family:'Roboto';
        margin-left: 6%;
        margin-top: 4%;
        color:rgb(25, 26, 28);
    }
    .forgotpwd{
        background-color: white;
        margin-left:64%;
        color:rgb(45,128,185);
    }
   .forgot{
        width:50%;
        max-width:450px;
        height:80%;
        max-height:900px;
        font-family: 'Roboto';
        align-content: initial;
        border-radius: 0.5rem;
        margin-top: 8rem;
        margin-left: 36%;
        margin-right:35%;
        margin-bottom: 8rem;
        padding:50px 20px 50px 20px;
        box-shadow: 2px 1px 15px rgba(124,119,119,0.5);
        zoom: 90%
   }
   .label3{
      
        font-weight:800;
        font-size: 14px;
        font-family:'Roboto';
        margin-left: 3%;
        margin-top: 4%;
        color:rgb(0, 38, 64);
   }
   .input-text-label3{
        margin:13px;
        max-width:94%;
        margin-left:13px;
        font-size: 12px;
   }
   .reset-button{
    margin: 10px;
    width: 388px;
    /* background-color: rgb(5,101,191);
    border-color: rgb(5,101,191); */
    background-color: rgb(29, 32, 34);
    border-color: rgb(27, 28, 29);
    color: white;
}
.recharts-default-tooltip{
    border:1px solid white
}
    
.loginimg{
    /* width:150px;
    height:100px; */
    width: 20%;
    height: 38%;
    /* align-items: center; */
    margin-left: 36%;
}


